*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color) ;
    transition: all 1s;
}

.light{
    --bg-color:white;
    --text-color:black;
}
.dark{
    --bg-color:rgb(0, 0, 0);
    --text-color:rgb(255, 255, 255);
}


/* navbar */
.navbar{
    padding: 0 !important;
}
.navbar *{
    background-color: #ffc6d5;
    padding: 5px;
}
.navbar-toggler{
    outline: none !important;
    border: none !important;
}


