*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color) ;
    transition: all 1s;
}

.light{
    --bg-color:white;
    --text-color:black;
}
.dark{
    --bg-color:rgb(0, 0, 0);
    --text-color:rgb(255, 255, 255);
}


/* navbar */
.navbar{
    background-color: #e8003f;
}
.navbar .btn{
    margin-right: 10px;
}
.navbar .container-fluid{
    padding: 0;
}
.navbar-brand{
    display: none;
}

li{
    background-color: #e8003f;
}
a{
    color: #e8003f;
}
.nav-link{
    background-color: #e8003f;
    color: rgb(0, 136, 255);
}
.navbar-collapse{
    background-color: #e8003f;
}



